.customContainer {
  padding-left: 25%;
  padding-right: 25%;
}

.content {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

@media (max-width: 1024px) {
  .customContainer {
    padding-left: 15%;
    padding-right: 15%;
  }

  .content {
    padding-bottom: 3rem;
  }
}

@media (max-width: 768px) {
  .customContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .content {
    padding-bottom: 5rem;
  }
}
